<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Boogle</title>
    <link rel="stylesheet" href="static/css/booglestyle.css">

</head>
<body>
    <div id="navigation">
        Gmail   Imágenes
        <button  class="button1">Iniciar sesión</button>
    </div>

    <div class="main">
        <IMG src="static/img/Booglebuena.png" class="image">
    </div>

    <br>
    <div class="barra">
        <center>
            <input type="text"  id="search" >
        </center>
    </div>

    <br>
    <div>
    <center>
        <button  class="button2">Buscar con Boogle</button>
        <button  class="button2">Voy a tener suerte</button>
    </center>

    </div>


    <br>
    <div>
        <center>
        <span class="frase">Ofrecido por Boogle en: </span>
        <a href="https://translate.google.es/?hl=es"> Sólo en español y va que se mata</a>
        </center>
    </div>


</body>
</html>